# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: |
        dotnet restore
        
     
    - name: Build
      run: dotnet publish --no-restore 
    - name: Test
      run: |
         dotnet test --no-build --verbosity normal
        
    - uses: actions/upload-artifact@v4.3.3
      with:
        name: drop
        path: /home/runner/work/aspnet2.0/aspnet2.0/aspnet/bin/Debug/net6.0/publish/
        
      
    
