name: Kubernetesdeploy
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }
      - name: Azure CLI script
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az account set --subscription 06dc52fa-b708-4f3c-bfe9-873f1fbeb59a
            az aks get-credentials --resource-group YASH-GITHUBACTION --name MYGITHUBACTION --overwrite-existing
      - run: |
          kubectl apply -f pod.yml
          kubetcl apply -f service.yml
       
