name: .NETDOCKER


on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

  

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: |
        dotnet restore
        
     
    - name: Build
      run: |
        mkdir dlls 
        dotnet publish --no-restore --output dlls
    - name: Test
      run: |
         dotnet test --no-build --verbosity normal
    - uses: docker/login-action@v3.1.0
      with:
        registry: githubaction.azurecr.io
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - uses: docker/build-push-action@v5.3.0
      with:
        tags: githubaction.azurecr.io/dotnet:latest
        push: true
        
        
        
